@font-face {
    font-family: font;
    src: url(NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: thinfont;
    src: url(NeueHaasDisplayXXThin.ttf);
}

*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: font;
}
html,body{
    width:100%;
    height: 100%;
   
    
}
#main{
    z-index: 10;
    position: relative;
}
#page1{
    min-height: 100vh;
    width: 100%;
    padding: 25px;
    background-color: #EFEAE3;

}
#page2{
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0vw;
    position: relative;
    background-color: #EFEAE3;
    
}

#nav{
    padding: 2vw 0vw;
    width :100%;
    display: flex;
    justify-content: space-between;
}

#nav img{
    height: 50px;
    width :100px;
}
#buttons{
    display: flex;
    gap: 1vw;
}
#buttons h4{
    border: 1px solid #0000008f;
    padding: 15px 20px;
    border-radius: 50px;
    font-weight: 500;
    position: relative;
    overflow: hidden;

}
#buttons h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width:100%;
    background-color: black;
    bottom:-100%;
    left: 0;
    transition: all ease 0.2s;
}
#buttons h4:hover::after{
    content: "";
    bottom: 0;
    border-radius: 50px;
    
}
#buttons h4 a{
    color: #000000c2;
    text-decoration: none;
    position: relative;
    z-index: 9;

}
#buttons h4:hover a{
    color: #fff;
    
}
#center{
   padding: 15px;
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
  
}
#Cleft{
    width: 350px;
    font-size:25px;
    
}
#Cright{
    font-size: 75px;
    line-height: 120px;
    text-align: end;
}
video {
    margin-top: 5vw;
    width: 100%;
    border-radius: 30px;
    position: relative;
    
}
#colorshape{
    height: 40vw;
    width: 40vw;
   
    position: absolute;
    right: 0%;
}
#shape1{
    background-color: aqua;
    height: 30vw;
    width: 30vw;
    position: absolute;
    right: 0%;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 30%;
    animation-name: anime1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    filter: blur(25px);

}
#shape2{
    background-color: aqua;
    height: 30vw;
    width: 30vw;
    position: absolute;
    right: 0%;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 30%;
    animation-name: anime2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    filter: blur(25px);

}
@keyframes anime1{
    from{
        transform: translate(0%,-15%);
    }
    to{
        transform: translate(0%,0%);
    }

}
@keyframes anime1{
    from{
        transform: translate(-55%,-15%);
    }
    to{
        transform: translate(0%,0%);
    }

}
#scrollcon{
    white-space: nowrap;
    overflow-x: auto;
  
    
}
#scrolltext{
    animation-name: scroll1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    white-space: nowrap;
    display: inline-block;
}
#circle{
    height: 70px;
    width: 70px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 20px;
   
}
#scrolltext h1{
    font-size: 9vw;
    display: inline-block;
  
    
}
#scrollcon::-webkit-scrollbar{
    display: none;
}
@keyframes scroll1{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

#page2-bottom{
    
    height: 60vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 4vw;
}
#bottom-left{
    font-size: 4.5vw;
    width: 80%;
}
#bottom-left h1{
    font-size: 4.5vw;
    width: 80%;
    z-index: 6;
    position: relative;

}

#bottom-right{
    width: 30%;
}
#bottom-right img{
    height: 200px;
    width: 300px;
    
}
#bottom-right p{
    font-family: "thinfont";
    height: 200px;
    width: 300px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

#page2shape{
  
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%,50%);
    background-color: aqua;
    height: 400px;
    width: 400px;
    border-radius: 40%;
   filter: blur(25px);
    animation-name: shape1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes shape1{
    from{
        transform: translate(10%,-10%) skew(0);

    }
    to{
        transform: translate(-10%,10%) skew(20deg);
    }
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}

.elem{
    padding: 0 2vw;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 125px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    overflow: hidden;
}
.elem h1{
    z-index: 2;
}
.overlay{
    position: absolute;
    height: 125px;
    left: 0%;
    width: 100%;
    
    top:-101%;
    background-color: orange;
    transition: all ease .3s;
}
.elem:hover .overlay{
    top:0%;

}


#fixed-image{
    height: 30vw;
    width:23vw;
    border :1px solid #000;
    border-radius: 10px;
    background-color: transparent;
    z-index: 11;
    
    
    top: 25%;
    left: 50%;
    position: fixed;
    display: none;
    background-size: cover;
    object-fit: cover;
    

}
#page4{
    min-height: 100vh;
    width: 100%;
    padding: 35px;
    background-color: #EFEAE3;
}
#box{
    height: 100vh;
    width: 100%;
    background-color: #000;
    border-radius: 35px;
    display: flex;
}

#boxleft{
    width: 50%;
    background-color:#000;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: start;
    justify-content: center ;

}
#boxleft h1{
    padding-left: 10px;
   
    margin-left: 15%;
    font-size: 8vh;
}



#boxleft p{
    color: #fff;
    font-family: thinfont;
    font-size: 13px;
    margin-top: 8%;
    width: 70%;
    margin-left: 15%;

}
#boxright{
    height: 100vh;
    width: 60%;
    border-radius: 15px;
   background-image: url("https://assets-global.website-files.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15e1_Project-p-1080.jpg");
    background-size: cover;
    background-position-x: 100%;

}
#t1{
    border-left: 3px solid rgba(128, 128, 128, 0.677);
    color: #fff;
}
#t2{
    border-left: 3px solid rgba(128, 128, 128, 0.679);
    color: rgba(128, 128, 128, 0.677);
}
#t3{
    border-left: 3px solid rgba(128, 128, 128, 0.678);
    color: rgba(128, 128, 128, 0.677);
}

#page5{
    height: 100vh;
    width: 100%;
    background-color: transparent;
}
#footer{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    z-index: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    
}

#footer h1{
    font-size: 220px;
    color:#fff;
    z-index: 12;
}

#cutout{
    position: absolute;
    bottom: 0;
    
    width: 100%; /* Adjust the width of the cutout */
    height: 300px; /* Adjust the height of the cutout */
    background-color: #000; /* Adjust the color of the cutout */
    border-top-left-radius: 150%; /* Half of the width to make it semicircular */
    border-top-right-radius: 150%; /* Half of the width to make it semicircular */
    transform: translateX(-50%);
    filter: blur(20px);
    animation-name: foot;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
   
    
}
#ani{
    margin-bottom: 10%;
    position: absolute;
    height: 600px;
    filter: blur(25px);
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(237,3,32,0.87) 20.8%, rgba(242,121,1,0.84) 74.4% );
    animation: footer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
   
}
@keyframes footer{
    from{
        transform: translate(0%,-10%) skew(-10deg);
    }
    to{
        transform: translate(0%,0%) skew(20deg);
    }
}
@keyframes foot {
    from{
        transform: translate(0%,-10%) skew(0deg);
    }
    to{
        transform: translate(0%,0%) skew(10deg);
    }
}
